<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
 
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.5.2/cosmo/bootstrap.min.css" />
	<script src= "https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" ></script>
</head>
<body>
	<div>
		<h2 >FOCUS ACADEMY CENTRE for EXCELLENCE</h2>
		<tr>
	<div align = "left" >   
     	<h3><a  th:href="@{'/new'}">Add new Course</a></h3>    
    </div>
		</tr>
	<tr>
	<div class="col-sm-5" align = "center">
    <div class="panel-body" align = "center" >
<table class="table">
  <thead class="thead-dark">
    <tr>
       		<th>Course ID</th>
            <th>Course Name</th>
            <th>Course Fee</th>
            <th>Student Id</th>
   </tr>
  </thead>
  <tbody>
  <tr  th:each="courses : ${courseList}">
	<td th:text="${courses.id}">Course ID</td>
	<td th:text="${courses.name}">Course Name</td>
	<td th:text="${courses.fees}">Course Fee</td>
	<td th:text="${courses.studentId}">Student ID</td>
	<td>
		<a th:href="@{'/edit/' + ${courses.id}}">Edit</a>
	</td>     
	<td>
		<a th:href="@{'/delete/' + ${courses.id}}">Delete</a>
	</td>     
   </tr>
  
  </tbody>
</table>
                    
   </div>
   </div>
 
</tr>
 
</tbody>
</table>
<div>
</body>
</html>